#map {width:48%; height:500px;}
.directions {width:48%; height:500px; padding:30px; background-image:url('../../gallery_img/cat9.jpg'); text-align:right;}

.personalinfo dt {font-weight:bold;}
.personalinfo dd {text-indent:15px;}

.calendar {width:100%; margin-bottom:20px;}
.calendar th, td {width:14%;}
.calendar th {height:50px; text-align:center;}
.calendar th:nth-child(odd) {background-color:#9f9e9e; color:#fff;}
.calendar th:nth-child(even) {background-color:#b1b1b1; color:#fff;}
.calendar th:first-child {background-color:#ca664e; color:#fff;}
.calendar th:last-child {background-color:#5b96b7; color:#fff;}
.calendar td {height:100px; border: 1px solid #ccc; padding: 5px; text-align:left; vertical-align:top;}
.calendar td:first-child {color:#CB5032;}
.calendar td:last-child {color:#3689B7;}
.calendar td p{font-size:11px;}

.booking_check {width:100%; margin-bottom:20px;}
.booking_check tr:first-child {border-top:2px solid #557d9f;}
.booking_check th {width:20%; height:40px; border-bottom:1px solid #ccc; background-color: #efefef; text-align: center;}
.booking_check td {width:80%; border-bottom:1px solid #ccc; padding-left:20px; text-align:left;}

.view {width:100%; margin:10px 0;}
.view tr:first-child {border-top:2px solid #557d9f;}
.view th {height:40px; border-bottom:1px solid #ccc; background-color: #efefef; padding: 10px; text-align: center;}
.view td {height:40px; border-bottom:1px solid #ccc; padding: 10px;}

.commentWrite {width:100%; margin-top:10px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding:5px;}
.commentWrite textarea {margin-bottom:5px;}

.media-list li {border-bottom:1px solid #ccc; padding:5px;}

.intro img { min-width: 100%; }

.backgroudset img { min-width: 80%; }

.box  {
        width: 65%;
        margin: 10px auto;
        border : 2px solid #ccc;
        padding: 30px;
        text-align: center;
      }
      
.personalinfo {
	height : 200px;
	overflow:hidden;
	overflow-y:scroll;
	
}